form {
  padding: 20px;
  margin: 10px;
  border: 2px solid black;
}

input, select {
  margin: 10px;
}

.modal-wrapper {
  background-color: rgba(128, 128, 128, 0.4);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  padding: 1rem;
  border: 3px solid purple;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#closeBtn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeBtn:hover,
#closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.invalid {
  border: 2px solid red;
  color: red;
}

.valid {
  color: green;
}

.position {
  position: relative;
}

.red {
  color: red;
  font-size: small;
  position: absolute;
  top: -23px;
  left: 52px;
}


